/* Header and nav */

header {
  background: rgba(1, 15, 25, 0.5);
  padding: 5px 5px;
  width: 100%;
  position: fixed;
  display: inline-block;
  transition: 0.5s;
}

header.hidden {
  transform: translate3d(0, -100%, 0);
}

#logo {
  float: left;
}

nav {
  padding-right: 50px;
  float: right;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav li a {
  font-family: 'opensans-bold', sans-serif;
  color: white;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

nav li a:hover {
  color: rgba(147, 166, 182, 0.7);
  text-decoration: none;
  padding: 20px 20px;
}

a {
  text-decoration: none;
}

#popup-wrapper {
  width: 500px;
  margin: 70px auto;
  text-align: left;
}

#popup-container {
  background-color: #FFF;
  padding: 20px;
  border-radius: 4px;
  font-family: 'opensans-bold', sans-serif;
  font-size: 20px;
}

#wrapper {
  display: inline-block;
  float: right;
  margin-right: 40px;
}

#wrapper a {
  color: #fff;
  display: inline-block;
  font-family: 'opensans-bold', sans-serif;
  text-decoration: none;
  padding: 5px 5px;
  margin-top: 10px;
  font-size: 20px;
}

#wrapper a:hover {
  color: rgba(147, 166, 182, 0.7);
  text-decoration: none;
  padding: 5px 5px;
}


/* Home and Banner */

#home_stats {
  height: 1000px;
  min-height: 500px;
  width: 100%;
  background-size: cover!important;
  -webkit-background-size: cover!important;
  text-align: center;
  overflow: hidden;
}

.row_banner {
  padding-top: 200px;
  display: inline-block;
  vertical-align: middle;
  position: inherit;
  margin: 0 auto;
  width: 85%;
}

.banner-text {
  width: 100%
}

.banner-text h1 {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .8)
}

.banner-text h3 {
  font: 18px/1.9em 'librebaskerville-regular', serif;
  color: #a8a8a8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5)
}

.banner-text h3 span, .banner-text h3 a {
  color: #fff
}

.banner-text hr {
  width: 60%;
  margin: 18px auto 24px;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, .1)
}

.social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .8)
}

.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0
}

.social li a {
  color: #fff
}

.social li a:hover {
  color: #11abb0
}

.popup-position {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 120%;
}


/* About */

#about {
  background: #2b2b2b;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about a, #about a:visited {
  color: #A6A5A1
}

#about a:hover, #about a:focus {
  color: #efecc8
}

#about h2 {
  font: 30px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 3%;
  margin-top: 3%
}

#about h1 {
  font: 20px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-top: 2%;
  margin-bottom: 2%
}

#about p {
  line-height: 30px;
  color: #A6A5A1
}

#about .profile-pic {
  position: absolute;
  width: 120px;
  height: 120px;
  padding-left: 15%;
  padding-top: 5%
}

#about .aboutme {
  margin-left: 40%;
  margin-right: 1%
}


/* Projects */

#projects {
  background: #2b2b2b;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden
}

#projects a, #projects a:visited {
  color: #F1ECE9;
  font-size: 20px;
}

#projects a:hover, #projects a:focus {
  color: #E2FF78
}

#projects h2 {
  font: 25px/30px 'opensans-bold', sans-serif;
  color: #efecc8;
  margin-left: 10px;
  margin-bottom: 3%;
  margin-top: 3%
}

#projects p {
  margin-left: 10px;
  line-height: 30px;
  color: #A6A5A1
}


/* Resume */

#resume {
  text-align: center;
  display: block;
  padding-top: 20%;
}

#resume .button {
  width: 20%;
  background-color: #525252;
  padding: 10px;
  line-height: 500%;
  text-align: center;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
}

#resume .button:hover {
  background: #00030D;
}

#resume a {
  color: #ffffff;
}

#resume a:hover {
  color: #525252;
}

#resume hr {
  width: 60%;
  margin: 18px auto 24px;
  border-color: #2f2d2e;
}

#resume a, #resume a:visited {
  color: #525252
}

#resume a:hover, #resume a:focus {
  color: #fff
}

#bot_social {
  margin-top: 10%;
}

#resume .copyright ul {
  display: inline;
}

#resume .copyright li {
  display: inline-block;
  color: #525252;
  margin: 0;
  padding: 0;
  line-height: 24px
}

#resume .copyright li {
  display: inline-block;
}

#resume .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153
}

#resume .copyright li:first-child:before {
  display: none
}

#resume a {
  text-decoration: none;
  border: 0;
  width: 60px;
  height: 50px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%
}

#resume a:hover {}
